{% extends 'base.html' %}


{% block main %}

<div class="table-responsive">

<ul class="list-group">

    <a href="#"  STYLE=" text-align: center;" class="list-group-item list-group-item-action active">
        <h4>RELAÇÃO DE HORAS EXTRAS FUNCIONARIOS</h4>

  </a>
   <a href="{% url 'create_registro_hora_extra'  %}"  STYLE="background-color: #671fc2; text-align: center;" class="list-group-item list-group-item-action active">
    CRIAR NOVA HORA EXTRA

  </a>
   {% for registro_re in object_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
     <a href="{% url 'update_hora_extra_base' registro_re.id %}" >
    {{ registro_re }}
       </a>
     <a href="{% url 'delete_hora_extra' registro_re.id %}">
         <h5> <span class="badge badge-danger badge-pill">Delete</span></h5></a>
  </li>
  {% endfor %}
    {% if not object_list %}
        <h3>Nao existem registros de hora extra no banco de dados</h3>
    {% endif %}


</ul>
</div>



{% endblock %}