{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<h2>Editar Funcionario </h2>

<form method="post">
{% csrf_token %}
{{ form|crispy }}

<button type="submit" class="btn btn-success">Salvar</button>
</form>

<br>

<br>
<h2>Documentos</h2>
<ul>
{% for documento in object.documento_set.all %}
    <li>
        <a href="{{ documento.arquivo.url }} "> {{ documento.descricao }}  </a><br>
    </li>
{% endfor %}
</ul>

{% if object %}
<a href="{% url 'create_documento' object.id %}" class="btn btn-success">
    Adicionar documento
</a>
{% endif %}

<br>
<h2>BANCO DE HORAS</h2>
<ul>
{% for registrohoraextra in object.registrohoraextra_set.all %}
    <li>
        <a href="{% url 'update_hora_extra' registrohoraextra.id %} ">
        {{ registrohoraextra.motivo }} || {{ registrohoraextra.horas }} <br> </a>
    </li>
{% endfor %}
</ul>

{% if object %}
<a href="{% url 'create_documento' object.id %}" class="btn btn-success">
    Adicionar Hora Extra
</a>
{% endif %}



{% endblock %}