{% extends 'base.html' %}

{% block main %}


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav" >
    <li class="nav-item" >
            <a style="color:white;" class="nav-link"  href="{% url 'list_departamentos' %}">Gerenciar Departamnetos</a>
        <a style="color:white;" class="nav-link"  href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a>
       <a style="color:white;" class="nav-link"  href="{% url 'list_hora_extra' %}">Gerenciar banco de horas</a>

    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <h3>Brand / Logo</h3>
  <p>The .navbar-brand class is used to highlight the brand/logo/project name of your page.</p>
</div>


<h2>SEJA BEM-VINDO</h2>
<div class="row">
    <div class="col-sm">
      Olá {{ usuario.funcionario.nome }}
        <a href="{% url 'list_departamentos' %}">Gerenciar Departamnetos</a>
        <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a>
       <a href="{% url 'list_hora_extra' %}">Gerenciar banco de horas</a>
    </div>

    <div class="col-sm">
      One of three columns
      {% if usuario.funcionario.empresa %}
        <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>

      {% else %}
        <a href="{% url 'create_empresa' %}">Adcionar Empresa</a>
      {% endif %}
    </div>
    <div class="col-sm">
      <a href="{% url 'logout' %}" > Sair</a>
    </div>
  </div>
{% endblock %}